*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

/* Header */

.header, .wrapper{
  margin: 0px auto;
  width: 900px;
  border: 1px solid black;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 10px 20px;
}

.header div{
  width: 270px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.header div button{
  box-shadow: 2px 2px 2px black;
  background-color: whitesmoke;
  padding: 5px 10px;
}

.links{
  color: blue;
}

/* All Movies */

.search{
  width: 450px;
  display: flex;
  margin: 20px auto;
  align-items: baseline;
  justify-content: space-between;
}

.search select{
  border: 1px solid black;
  width: 200px;
  padding: 2px;
}

.searchButton{
  box-shadow: 2px 2px 2px black;
  background-color: whitesmoke;
  padding: 5px 10px
}